<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MOFED</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Product Landing Page Template" name="keywords">
        <meta content="Product Landing Page Template" name="description">

        <!-- Favicon -->
        <link href="Templates/img/favicon.ico" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@400;700&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="style.css" rel="stylesheet">
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="51">
        <!-- Nav Start -->
        <div id="nav">
            <div class="navbar navbar-expand-md bg-light navbar-light">
                <a href="https://htmlcodex.com/product-landing-page-template" class="navbar-brand">MInistry of Finance</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="#header" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="#feature" class="nav-link">Vacanacies</a></li>
                        <li class="nav-item"><a href="#process" class="nav-link">News</a></li>
                        <li class="nav-item"><a href="#products" class="nav-link">Resources</a></li>
                        <li class="nav-item"><a href="#testimonial" class="nav-link">Reviews</a></li>
                        <li class="nav-item"><a href="#faqs" class="nav-link">FAQs</a></li>
                        <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Nav End -->

